@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-blue: #1D2D8C;
  --ligth-green: #85B79D;
  --font : 'Montserrat', 'Courier New', Courier, monospace;
}


.test {
  background-color: red;
}


.title{
  color: var(--main-blue);
  margin-bottom: 2%;
  font-size: calc(1.5rem + 0.5vw);
  font-weight: bold;
}


.wtsButton{
  background-color: #33BA47;
  color: #FFFFFF;
  border: 0px;
  width: 100%;
}

.wtsButton:hover{
  background-color: #154d1d;
}

.bpButton{
  background-color: #FEA734;
  color:#FFFFFF;
  border: 0px;
  width: 100%;
}

.bpButton:hover{
  background-color: #b87c2d;
}

/* ---------- Mobile  */
@media (max-width: 544px) {
  .wtsButton{
    font-size: 18px;
  }
  .bpButton{
    font-size: 18px;
  }
}