.page{
    width: 100dvw;
    height: 100dvh;
    display: flex;
    flex-direction: column;
    background-color: blue;
}

.nabvar{
    height: 10%;
    width: 100%;
    background-color: brown;

}

.main{
    height: 80%;
    width: 100%;
    background-color: yellow;
}

.footer{
    height: 10%;
    width: 100%;
    background-color: green;
}