.imageContainer {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    filter: grayscale(100%);
}

.academy {
    background-image: url('src/assets/stock2.jpg');
}

.clinic {
    background-image: url('src/assets/stock3.jpg');
}

.imageContainer:hover {
    filter: grayscale(0%);
}

.mainHome {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
}


.link{
    
    text-decoration: none;
    font-size: 5rem;
    color: #FFFFFF;

}

@media (max-width: 768px) {
    .mainHome {
        flex-direction: column;
    }
    
    .academy,
    .clinic {
        width: 100%;
    }

    .link{
        font-size: 2rem;
    }
}
