@import url('src/components/Common.module.css');

.page {
    height: 100%;
    width: 100%;
    font-family: var(--font);
    padding: 2%;
}

.main {
    width: 90%;
}

.cardsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    grid-gap: 1rem;
    justify-content: space-between;
}
.cardTreatment {
    width: 100%;
}

.loading {
    margin-top: 3%;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


