@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-blue: #1D2D8C;
  --ligth-blue: #3F8EFC;
  --ligth-green: #85B79D;
  --dark-green: #518168;
  --font:  "Montserrat", sans-serif;
}


.title{
  color: var(--main-blue);
  margin-bottom: 2%;
  font-size: calc(1.5rem + 0.5vw);
  font-weight: bolder;
}


.label{
    color: var(--main-blue);
    font-weight: bold;
    font-family: var(--font);
}

.tableTitle {
  font-family: var(--font);
  font-weight: 600;
  color: var(--ligth-blue);
  text-align: right;
  margin-top: 3%; 
  margin-bottom: 10px;
  font-size: 48px; 
}

@media (max-width: 907px) {
  .tableTitle {
    font-size: 36px; 
  }
}
@media (max-width: 515px) {
  .tableTitle {
    font-size: 28px; 
  }
}