@import "src/components/Common.module.css";

.headBorder {
    border-width: 3px; 
    border-color: var(--main-blue);
    border-left: none ; 
    border-right: none ; 
    vertical-align: middle;
    font-size: x-large;
    font-weight: bold ;
    font-family: var(--font);
}

.columnBtn {
    text-align: right;
}

.customButton {
    font-weight: bold; 
    font-family: var(--font);
    font-size: 0.8em; 
    padding: 10px 20px; 
    border: none;
    background-color: var(--ligth-blue);
  }

.optionsButton{
    margin-right: 2%;
    background: none;
    border: none;
    color: var(--ligth-green);
}

.optionsButton:hover{
    background: none;
    color: #b5ddc8;
}

.pagination {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
    
}
  
.pagination button {
    margin: 0 ;
}

.movePgaeBtn{
    color: var(--main-blue);
    font-weight: 900;
}

.pageNumber{
    background-color: var(--ligth-blue);
    color: white;
}

  
.sortButton {
    cursor: pointer;
    font-size: 1.2rem;
    transition: color 0.3s font-weight 0.3s;
    color: black;
  }
  
  .sortButton:hover {
    color: grey;
  }
  
  .sortButton.active {
    color: var(--ligth-green);
    font-weight: bold;
  }
  
  .searchContainer {
    position: relative;
  }
  .inputSearch {
    outline: 4px solid #ffffff; 
    border: none; 
    border-bottom: 2px solid var(--main-blue);
    border-radius: 0;
    margin-top: -3%;
    padding-bottom: 0%;
    font-size: 1.5rem; 
  }

  .inputSearch::placeholder,
  .inputSearch::-webkit-input-placeholder {
    font-weight: bold;
    font-family: var(--font);
    color: var(--main-blue);
  }

  .inputSearch:focus {
    outline: 4px solid #ffffff; 
    border-bottom-color: var(--main-blue);
  }
  
  .searchIcon {
    position: absolute;
    color: var(--main-blue);
    font-size: x-large;
    top: 50%;
    right: 5%;
    transform: translateY(-50%);
  }
  
  