@import "src/components/Common.module.css";


.body {
    direction: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
}

.main {
    direction: flex;
    flex-direction: row;
}

.treatment {
    width: 15%;
}

.title {
    color: var(--main-blue);
    margin-top: 5%;
    margin-bottom: 5%;
    font-family: var(--font);
}