@import url('src/components/Common.module.css');

.navbar{
    width: 100%;
    height: 100px;
    font-family: var(--font);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--main-blue);
}

.logoDiv {
    width: 20%;
    height: 100%;
    /* margin-left: 5%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.logoImg {
    width: 75px;
    height: 75px;
} 

.content {
    /* width: 40%; */
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    /* justify-content: space-evenly; */
    /* padding: 5%; */
    gap:20px
    
}

.navLink{
    font-size: 1.3rem;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    
    font-family: var(--font);
}

.navLink:hover{
    text-decoration: none;
    color: #807c7c;

}

.mobileMenu{
    display: none;
    /* margin-right: 10%; */
}


@media (max-width: 960px) {
    .navLink {
        font-size: 1.1rem;
    }
  }


/* ---------- Mobile  */
@media (max-width: 900px) {
    .mobileMenu{
      display: block;
    }

    .content{
        display: none;
    }
  }