@import url('src/components/Common.module.css');


.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  font-family: var(--font);

}

.content {
  flex: 1;
}

.main {
  flex: 1;
  position: relative;
  font-family: var(--font);
}

/* Button.module.css */
.button {
  position: fixed;

  z-index: 999;
  bottom: 20px;
  left: 20px;

  color: black;
  cursor: pointer;


  display: flex;
  align-items: center;
  overflow: hidden;
  text-shadow: 6px 5px 6px rgba(0,0,0,0.50);
}


.button:hover {
  width: 500px;
  transition: width 0.5s ease-in;
}

.button:hover span {
  display: contents;
}

.button span {
  display: none;
}

/* ---------- Mobile  */
@media (max-width: 768px) {
  .floatingButton {
    display: none;
  }

  .button{
    display: none;
  }

}