@import url('src/components/Common.module.css');


.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;

  font-family: var(--font);

}

.content {
  flex: 1;
}

.main {
  flex: 1;
  position: relative;
  font-family: var(--font);
}



/* ---------- Mobile  */
@media (max-width: 768px) {
  .floatingButton {
    display: none;
  }

}