@import "src/components/Common.module.css";

.header {
    background-color: var(--main-blue);
    color: #FFFFFF;
}

.logoImg {
    width: 55px;
    height: 55px;
}

.close {
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 20px;

    display: flex;
    flex-direction: row-reverse;

    text-decoration-line: underline;
    color: #FF0000;
}