.customLabel {
    color: #1D2D8C;
    font-size: 1.2em;
    font-weight: bold; 
  }

  .customButton {
    background-color: #85B79D; 
    font-weight: bold;
    border: #85B79D;
    margin-top: 15%;
    margin-left: 80%;
    
  }

  .body {
    direction: flex;
    flex-direction: column;
    background-color: #ffffff;

}

.main {
    direction: flex;
    flex-direction: row;
}

.btn {
    color: #FFFFFF;
    background-color: #85B79D;
    border: 0px;
    border-radius: 50%;
    padding: 10px;
    position: absolute;
    top: 70%; 
    left: 80%; 
}