.page {
  height: 100dvh;
  width: 100dvw;
  display: flex;
  flex-direction: column;

}

.head {
  height: 10%;
  width: 100%;
}


.main {
  height: 80%;
  width: 100%;
  max-height: 80%;
  overflow-y: auto;
  display:flex;
  flex-direction: column;
  gap:1%;
}

.footer {
  height: 10%;
  width: 100%;
  background-color: #ff0000;
}