.page {
    height: 100%;
    width: 100%;
    padding: 2%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.btnImage {
    color: #FFFFFF;
    background-color: var(--ligth-green);
    border: 0px;
    border-radius: 50%;
    padding: 3%;
    position: absolute;
    cursor: pointer;
    top: 70%; 
    left: 80%; 
}

