@import "src/components/Common.module.css";

.horizontalLines {
  position: relative;
  padding: 0.8%;
  margin-bottom: 4%;
}

.horizontalLines::before,
.horizontalLines::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  
  border-top: 3px solid var(--main-blue); 
}

.horizontalLines::before {
  top: 0;
}

.horizontalLines::after {
  bottom: 0;
}


.title {
  margin-right: 0%;
  font-family: var(--font);
  font-weight: 600;
  color: var(--ligth-blue);
  text-align: right;
  margin-top: 3%; 
  margin-bottom: 2%;
  font-size: 48px; 
}

.btnAdd {
  font-weight: bold; 
  font-size: 24px; 
  text-align: right;
  font-family: var(--font);
  padding: 0.8% 1.4%; 
  margin-right: -0.5%;
  background-color: var(--ligth-blue);
  border-color: var(--ligth-blue);
}

.categoryAdd{
  padding-bottom: 2%;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
}

.input{
  border-top: none;
  border-left: none;
  border-right: none;
  margin-right: 2%;
}

.input:focus{
  outline: #ffffff; 
}

.btn{
  color: var(--ligth-blue);
}

.btnHide{
  font-family: var(--font);
  background-color: var(--ligth-blue);
  border-color: var(--ligth-blue);
}

.categoryTitle{
  color: var(--main-blue);
  font-family: var(--font);
  font-weight: 600;
}
  
.categorySection {
  margin-bottom: 3%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  background-color: #ffffff; 
  padding: 1.5%;
  border-radius: 1%; 
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  width: 100%;
}

.inputAddCategory {
  width: 50%;
}

@media (max-width: 907px) {
  .btnAdd {
    font-size: 20px;
    margin: 5px 0;
  }
  .title {
    font-size: 36px;
  }
}
@media (max-width: 515px) {
  .btnAdd {
    font-size: 16px;
  }
  .title {
    font-size: 28px;
  }
  .btnAddCategory, .inputAddCategory {
    width: 100%;
  }
}