@import "src/components/Common.module.css";
.line {
    display: flex;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    width: 96%;
    height: 0%;
    background-color: var(--main-blue);
  }

  .title {
    margin-right: 2%;
    font-family: var(--font);
    font-weight: 600;
    color: var(--ligth-blue);
    text-align: right;
    margin-top: 3%; 
    margin-bottom: -1%;
    font-size: 4vw; 
  }
  
  .customButton {
    font-weight: bold; 
    font-size: 1.2em; 
    font-family: var(--font);
    padding: 10px 20px; 
    margin-right: 2%;
  }
  